:root {
    --primary-bg-color: #FBE4D8;
    --secondary-bg-color: #DFB6B2;
    --text-color: #2B124C;
    --button-bg-color: #DFB6B2;
    --button-hover-bg-color: #854F8C;
    --hint-bg-color: #DFB6B2;
    --hint-hover-bg-color: #854F8C;
    --revealed-hint-bg-color: #522B5B;
    --revealed-hint-border-color: #854F8C;
    --action-button-bg-color: #854F8C;
    --action-button-hover-bg-color: #522B5B;
    --action-button-text-color: #FBE4D8;
}

body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: var(--primary-bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
    position: relative;
}

body.dark-theme {
    --primary-bg-color: #2B124C;
    --secondary-bg-color: #522B5B;
    --text-color: #FBE4D8;
    --button-bg-color: #854F8C;
    --button-hover-bg-color: #DFB6B2;
    --hint-bg-color: #854F8C;
    --hint-hover-bg-color: #DFB6B2;
    --revealed-hint-bg-color: #c93fc9;
    --revealed-hint-border-color: #DFB6B2;
    --action-button-bg-color: #DFB6B2;
    --action-button-hover-bg-color: #FBE4D8;
    --action-button-text-color: #2B124C;
}

#app {
    position: relative;
    width: 60%;
    background-color: var(--secondary-bg-color);
    padding: 3rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.back-button {
    position: fixed;
    top: calc(50% - 350px + 2rem);
    left: calc(50% - 40% + 2rem);
    background-color: var(--action-button-bg-color);
    color: var(--action-button-text-color);
    border: none;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    padding: 0;
    z-index: 10;
}

.back-button:hover {
    background-color: var(--action-button-hover-bg-color);
    transform: scale(1.1);
}

.back-button svg {
    width: 24px;
    height: 24px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-bottom: 2rem;
}

#status-bar {
    display: flex;
    gap: 1.5rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.hidden {
    display: none;
}

#topics-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.topic-button {
    padding: 1rem 2rem;
    border: 1px solid var(--action-button-bg-color);
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: var(--button-bg-color);
    color: var(--text-color);
}

.topic-button:hover {
    background-color: var(--button-hover-bg-color);
}

#hints-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;
    align-items: center;
}

.hint-button {
    padding: 0.8rem 1.5rem;
    border: 1px solid var(--action-button-bg-color);
    border-radius: 4px;
    background-color: var(--hint-bg-color);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    color: var(--text-color);
}

.hint-button:hover:not(:disabled) {
    background-color: var(--hint-hover-bg-color);
}

.hint-button:disabled {
    cursor: default;
    background-color: var(--button-bg-color);
    color: var(--action-button-bg-color);
}

.revealed-hint {
    border-color: var(--revealed-hint-border-color);
}

#user-answer-container {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#user-answer-container.hidden {
    display: none !important;
}

#user-answer-input {
    padding: 0.8rem;
    border: 1px solid var(--action-button-bg-color);
    border-radius: 4px;
    font-size: 1rem;
    background-color: var(--button-bg-color);
    color: var(--text-color);
}

#feedback-message {
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 4px;
    font-weight: bold;
    text-align: center;
}

.correct-feedback {
    background-color: var(--button-bg-color);
    color: var(--action-button-bg-color);
    border: 1px solid var(--action-button-bg-color);
}

.incorrect-feedback {
    background-color: var(--action-button-bg-color);
    color: var(--action-button-text-color);
    border: 1px solid var(--action-button-hover-bg-color);
}

.action-button {
    background-color: var(--action-button-bg-color);
    color: var(--action-button-text-color);
    border: none;
    padding: 1rem 2rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
    margin-top: 1.5rem;
    transition: background-color 0.3s ease;
}

.action-button:hover {
    background-color: var(--action-button-hover-bg-color);
}

/* Theme switcher styles */
.theme-switch-wrapper {
    display: flex;
    align-items: center;
}

.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

.theme-switch input {
    display: none;
}

.slider {
    background-color: var(--revealed-hint-bg-color);
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: var(--primary-bg-color);
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
}

input:checked+.slider {
    background-color: var(--action-button-bg-color);
}

input:checked+.slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#roulette-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.center-buttons{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.time-display {
    font-size: 3rem;
    font-weight: bold;
    margin-top: 1rem;
    background-color: var(--button-bg-color);
    padding: 1rem 1rem;
    border-radius: 10%;
}

#question-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: var(--text-color);
    color: var(--action-button-text-color);
    padding: 1rem;
    border-radius: 2rem;
}   

#roulette-wheel {
    font-size: 2rem;
    font-weight: bold;
    
}